:root {
  --primary-color: #FFA62B;
  --dark-barckground-color: #252B42;
  --light-text-color: #FFFFFF;
}

body {
  margin: 0px;
  background-color: var(--dark-barckground-color);
}

.main-header {
  /* Centreaza elementele la mijlloc pe verticala si orizontala */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: auto;
  margin: 0 auto;
  max-width: 1000px;
}

.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.containers div {
  background-color: var(--light-text-color);
  color: black;
}

.containers div p {
  color: #737373;
  text-align: inherit;
}

.card-item {
  padding: 40px;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

/* min-width 1024+ */
@media (min-width: 1024px) {
  .containers {
    gap: 80px;
  }
}

/* marimea este de 368px sau mai putin */
/* max-width: 0 - 368px */
@media (max-width: 368px) {
  .containers {
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, 200px);
  }
}

.values-section {
  margin: 100px auto;
  display: grid;
  justify-content: center;
  align-content: end;
  max-width: 1000px;
}

.values-section h2,
.values-section p {
  text-align: center;
  color: var(--light-text-color);
}

.values-section h2 {
  font-size: 40px;
}

.values-text {
  max-width: 472px;
  margin: 45px auto;
}

.main-content {
    color: var(--light-text-color);
    padding: 40px 140px;
    gap: 40px;
    max-width: 572px;
    margin: 0 auto;
}

.main-content .heading-primary {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}

.main-content h4 {
  margin: 40px 0;
  text-align: center;
}


.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cta-buttons button {
  width: 185px;
  height: 48px;
  border-radius: 36px;
  color: #fff;
}

.cta-buttons button:first-child {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.cta-buttons button:last-child {
  background: transparent;
  border: 1px solid #FFFFFF;
}

.value-container {
  background-color: greenyellow;
  color: black;
}

.form-section {
  padding: 100px 0;
  background-image: url(img/bg-appointment.png);
  background-size: cover;
  width: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 286px);
  grid-template-rows: repeat(4, 50px);
  gap: 20px;
}

.form-container * {
  background-color: white;
  border-radius: 4px;
}

.form-container input:last-child {
  /* row-start / column-start / row-end / column-end */
    grid-area: 3 / 1 / 5 / 3;
}

.form-section div {
   margin: 0 auto;
  max-width: 1000px;
}

.form-section h2 {
  font-size: 40px;
  color: var(--light-text-color);
} 

.form-section h5 {
  color: var(--light-text-color);
}

.form-section .submit-button {
  width: 218px;
  height: 58px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: var(--primary-color);
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--light-text-color);
}